%dl
  %dt= event.name
  %dd
    = event.date.strftime("%B %d, %Y")
    .mapnav-eventdesc The most walkable CicLAvia to date!

%ul.mapnav-expandedcontent
  - event.layers.each do |layer|
    %li
      .mapnav-layername
        = layer.name

      .mapnav-layertoggle
        %input{ type: 'checkbox', class: 'layertoggle', id: "layer-#{layer.id}", data: { layerid: layer.id } }