= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      routes: #{Route.all.map { |route| route.to_json } },
      midpoint: #{Route.last.try(:midpoint)}
    }

#map
.map-ciclavialogo
.mapnav-container
  .mapnav-searchbar
    %input{ type: :text, placeholder: "Find a route" }

  - Route.all.each_with_index do |route, index|
    .mapnav-event
      .mapnav-pindropicon
      %dl{:data => { :id => route.id }}
        %dt= route.name
        %dd September 15, 2014

      %ul.mapnav-routes
        %li
          .mapnav-routeicon
          The good route
        %li
          .mapnav-routeicon
          The good route

        %li
          .mapnav-routeicon
          The good route
