= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      routes: #{Route.all.map { |route| route.to_json } },
      midpoint: #{Route.last.try(:midpoint)}
    }

#map
.map-ciclavialogo
.mapnav-container
  - Route.all.each_with_index do |route, index|
    %dl.mapnav-route{:data => { :id => route.id }, :class => (index == 0 ? "selected" : "")}
      %dt= route.name
      %dd September 15, 2014
