= content_for :js_for_head do
  :javascript
    Ciclavia.PageData = {
      routes: #{Route.all.map { |route| route.to_json } },
      midpoint: #{Route.last.midpoint}
    }

#map
.map-ciclavialogo
.mapnav-container
  - Route.all.each do |route|
    %dl.mapnav-route.selected{:data => { :id => route.id }}
      %dt= route.name
      %dd September 15, 2014
