.container
  .row
    .col-md-12
      %h1 Showing all maps
  .row
    .col-md-12
      = link_to "Create a new map", new_map_path, class: "btn btn-default green"

  %hr

  .row
    .col-md-12
      %dl
        - Map.all.each do |m|
          %dt= link_to m.name, map_path(m)
          - if m.description.present?
            %dd= m.description
