<div class="infoconfirm">
  <div class="infoconfirm-info">Click points on the map to enter your route</div>
  <div class="infoconfirm-buttons"></div>
    <div class="okay btn green">Got it!</div>
</div>