<div class='hubmodal'>
  <i class='icon-x'></i>
  <div class='padded'>
    <h1>{{name}}</h1>
    <div class='hubmodal-address'>{{address}}</div>
    <p>{{description}}</p>
  </div>

  <div class='hubmodal-lower'>
    {{#if imageSource}}
      <img src='{{imageSource}}'>
    {{/if}}
  </div>
</div>