<div class='hubmodal'>
  <i class='icon-x'></i>
  <div class='padded'>
    <h1>{{name}}</h1>
    <div class='hubmodal-address'>{{address}}</div>
    <p>{{description}}</p>
  </div>

  <div class='hubmodal-lower'>
    <ul class='col-sm-6'>
      <li>
        <dl>
          <dt>Free bike valet</dt>
          <dd>This is info about the free bike valet</dd>
        </dl>

        <div class='hubmodal-eventtime text-right'>11am-12pm</div>
      </li>

      <li>
        <dl>
          <dt>Free bike valet</dt>
          <dd>This is info about the free bike valet</dd>
        </dl>

        <div class='hubmodal-eventtime text-right'>11am-12pm</div>
      </li>

      <li>
        <dl>
          <dt>Free bike valet</dt>
          <dd>This is info about the free bike valet</dd>
        </dl>

        <div class='hubmodal-eventtime text-right'>11am-12pm</div>
      </li>
    </ul>

    {{#if imageSource}}
      <img src='{{imageSource}}'>
    {{/if}}
  </div>
</div>