<div id="dialogue">
  <h1>Add some details</h1>
  <div class="dialogue-close"></div>
  <input type="text" class="dialogue-routetitleinput" placeholder="Route title">{{name}}</input>
  <div class="dialogue-subtitle">Submitted by Stephen Corwin</div>
  <table class="dialogue-details">
    <tr>
      <td>Departure time</td>
      <td>{{departsAt}}</td>
    </tr>
    <tr class="dialogue-departurelocation">
      <td>Meets at</td>
      <td>{{meetingPoint}}</td>
    </tr>
  </table>

  <textarea class="dialogue-descriptioninput">{{description}}</textarea>

  <div class="align-right margin-top">
    <div class="btn blue dialogue-submitbutton">Okay, finished</div>
  </div>
</div>