<div id="dialogue">
  <div class="dialogue-close"></div>
  <div class="dialogue-title">{{name}}</div>
  <div class="dialogue-subtitle">Submitted by Stephen Corwin</div>
  <table class="dialogue-details">
    <tr>
      <td>Departure time</td>
      <td>10:45am</td>
    </tr>
    <tr class="dialogue-departurelocation">
      <td>Meets at</td>
      <td>Lincoln Blvd &amp; Broadway</td>
    </tr>
  </table>

  <p class="dialogue-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus felis, convallis sed odio vel, posuere tincidunt lacus. In sodales libero ac turpis mollis, ultrices sollicitudin dui mollis. Vestibulum dapibus turpis quam, sit amet mollis augue sagittis in. Integer eleifend nisi fringilla elementum dignissim. Proin dapibus, lectus sit amet commodo ultricies, turpis ligula aliquam nulla, ut elementum massa velit et lectus. Pellentesque iaculis arcu nec ligula dictum, vitae faucibus neque convallis.
  </p>
</div>