a {
  color:#333;

  &:hover {
    color:$green;
  }
}

body {
  color:rgba(#000, .87);
  font-family:$font-body;
  margin:0;
  padding:0;
  font-size:$base-font-size;
}

dl {
  margin-bottom:$default-vertical-spacing;
  dt {
    font-weight:normal;
  }

  dd {

  }
}

h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top:0;
  }
}

p {
  font-family:$font-body;
  line-height:20px;
}