a {
  color:#333;

  &:hover {
    color:$green;
  }
}

body {
  color:#565656;
  font-family:$font-body;
  font-size:14px;
  margin:0;
  padding:0;
}

dl {
  margin-bottom:$default-vertical-spacing;
  dt {
    font-weight:normal;
  }

  dd {

  }
}

p {
  font-family:$font-body;
  line-height:20px;
}