.btn {
  border-radius:20px;
  border:none;
  font-size:14px;
  font-family:$font-title-secondary;
  padding:7px 19px;

  &:hover {
    -webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
  }

  &.wide {
    min-width:130px;
  }

  &.blue {
    background-color:$blue;
    color:#fff;
  }

  &.yellow {
    background-color:$yellow;
    color:$blue;
  }

  &.green {
    background-color:$green;
    color:#fff;
  }
}