#dialogue {
  width:47%;
  min-height:300px;
  left:50%;
  top:50%;
  margin-left:-23.5%;
  margin-top:-150px;
  background-color:#fff;
  z-index:3;
  position:fixed;
  padding:2%;
  border-radius:3px;
}

.dialogue-title, .dialogue-subtitle, .dialogue-description {
  margin-bottom:$default-vertical-spacing;
}

.dialogue-title {
  color:$blue;
  font-family:$font-title;
  font-weight:bold;
  font-size:16px;
}

.dialogue-subtitle {
  color:$grey;
}

.dialogue-description {

}

table.dialogue-details {
  margin-bottom:$default-vertical-spacing;

  td:first-child {
    color:$yellow;
    padding-right:10px;
    text-align:right;
  }

  dd {

  }
}

