#dialogue {
  width:47%;
  min-height:300px;
  left:50%;
  top:50%;
  margin-left:-23.5%;
  margin-top:-150px;
  background-color:#fff;
  z-index:3;
  position:fixed;
  padding:2%;
  border-radius:3px;
}

.dialogue-close {
  background:url(image-path("icons/close.png")) center center no-repeat;
  background-size:$default-measurement - 1;
  height:$default-measurement;
  width:$default-measurement;
  display:inline-block;
  float:right;
  margin-top:-1%;

  &:hover {
    cursor:pointer;
  }
}

.dialogue-title, .dialogue-subtitle, .dialogue-description {
  margin-bottom:$default-vertical-spacing;
}

.dialogue-description, .dialogue-descriptioninput {
  box-sizing:border-box;
  min-height:125px;
  width:99%; // Right side of border gets hidden without this for some reason.
  border:1px solid #fff;
  border-radius:2px;
  padding:$default-vertical-spacing;
}

.dialogue-description {
  &:hover {
    border:1px solid $light-grey;
    cursor:pointer;
  }
}

.dialogue-descriptioninput {
  border:1px solid $light-grey;
}

.dialogue-title {
  color:$blue;
  font-family:$font-title;
  font-weight:bold;
  font-size:16px;
}

.dialogue-subtitle {
  color:$grey;
}

table.dialogue-details {
  margin-bottom:$default-vertical-spacing;

  td:first-child {
    color:$yellow;
    padding-right:10px;
    text-align:right;
  }

  dd {

  }
}

