$base-font-size:14px;
$font-avenir: "Avenir Next";
$font-avenir-bold: "Avenir Next";
$font-american-typewriter: "American Typewriter";

$font-title: $font-american-typewriter;
$font-body: $font-avenir;
