$font-avenir: "AvenirNextLTPro-Regular";
$font-avenir-bold: "AvenirNextLTPro-Bold";
$font-american-typewriter: "American Typewriter";

$font-title: $font-american-typewriter;
$font-title-secondary: $font-avenir-bold;
$font-body: $font-avenir;
