.padded {
  padding:1em;
}

.align-right {
  text-align:right;
}

.margin-top {
  margin-top:$default-vertical-spacing;
}

.margin-right {
  margin-right:$default-vertical-spacing;
}

.shadow {
  -webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
}