.map-ciclavialogo {
  background-image:url(image-path('ciclavia_wordmark_rgb.png'));
  width:150px;
  height:150px;
  z-index:2;
  position:absolute;
  bottom:0px;
  right:0px;
  background-size:150px 150px;
}