.map-ciclavialogo {
  background-image:url(image-path('ciclavia_wordmark_rgb.png'));
  background-size:125px 125px;
  bottom:0px;
  height:125px;
  position:absolute;
  right:0px;
  width:125px;
  z-index:2;
}