.mapnav-container {
  background-color:#FFF;
  bottom:0;
  box-shadow:1px 0px 2px 1px darken($light-grey, 10%);
  left:0;
  padding:$default-vertical-spacing * $golden-ratio;
  position:absolute;
  top:0;
  width:350px;
}

dl {
  padding:$default-vertical-spacing;
  font-size:14px;
  margin-bottom:0;
  border-radius:3px;
  margin-top:$default-vertical-spacing;
  background-color:lighten($light-grey, 4%);
  border:3px solid $light-grey;

  &:first-child {
    margin-top:0;
  }

  &:hover {
    cursor:pointer;
    border-color:darken($light-grey, 5%);
  }

  &.selected {
    background-color:#FFF;
    border:3px solid $yellow;
  }

  dt {
    margin-bottom:$default-vertical-spacing / ($golden-ratio * $golden-ratio);
    font-weight:bold;
  }

  dd {
        
  }
}
