.mapnav-container {
  background-color:rgba(#FFF, .7);
  bottom:0;
  box-shadow:1px 0px 2px 1px darken($light-grey, 10%);
  left:0;
  padding:$default-vertical-spacing * $golden-ratio;
  position:absolute;
  top:0;
  width:350px;
}

.mapnav-event {
  position:relative;

  dl {
    background-color:#FFF;
    border:1px solid $light-grey;
    font-size:14px;
    margin-bottom:0;
    margin-top:$default-vertical-spacing;
    padding:$default-vertical-spacing * $golden-ratio;
    padding-left: $default-measurement * 2;

    &:first-child {
      margin-top:0;
    }

    &:hover {
      cursor:pointer;
    }

    &.selected {
    }

    dt {
      margin-bottom:$default-vertical-spacing / ($golden-ratio * $golden-ratio);
      font-family:$font-title-secondary;
    }

    dd {
          
    }
  }
}

.mapnav-pindropicon {
  background:url(image-path('icons/mapmarker.png')) no-repeat;
  background-size:$default-measurement;
  height:$default-measurement;
  left:$default-vertical-spacing;
  margin-top:-$default-measurement / 2;
  position:absolute;
  top:37px;
  width:$default-measurement;
}

.mapnav-routes {
  padding-left:0;
  display:none;

  li {
    list-style:none;
    position:relative;
    padding:$default-vertical-spacing * $golden-ratio;
    padding-left:40px;
    background-color:rgba(#FFF, .8);
    border-bottom:1px solid lighten($light-grey, 4%);

    &:hover {
      border-right:3px solid $blue;
    }
  }
}

.mapnav-routeicon {
  background:url(image-path('icons/route.png')) no-repeat;
  background-size:25px;
  height:25px;
  left:$default-vertical-spacing;
  margin-top:-$default-measurement / 2;
  position:absolute;
  top:24px;
  width:25px;
}

.mapnav-searchbar {

  input[type=text] {
    background-color:#FFF;
    border:1px solid $light-grey;
    border-radius:20px;
    height:$default-vertical-spacing * $golden-ratio * $golden-ratio * $golden-ratio;
    width:100%;
    box-sizing:border-box;
    margin-bottom:$default-vertical-spacing * $golden-ratio;
    padding:$default-vertical-spacing $default-vertical-spacing * $golden-ratio;
    outline:none;
    font-size:14px;
  }
}
