$modalpadding:40px;
.modal {
  position:absolute;
  background-color:#fff;
  z-index:10;
  box-shadow:0 0 5px 0 rgba(#000, .3);
  border-radius:3px;
  top:8%;
  left:50%;
  @include transform(translateX(-50%));

  .icon-x {
    position:absolute;
    top:1em;
    right:1em;

    &:hover {
      cursor:pointer;
    }
  }
}

.placemodal {
  @extend .modal;
  width:55vw;

  img {
    width:100%;
    margin-bottom:$modalpadding;
  }

  h1, p {
    padding:{
      left:$modalpadding;
      right:$modalpadding;
    }
  }

  h1 {
    margin-top:$modalpadding;
    margin-bottom:$modalpadding;
  }

  p {
    font-size:1em;
    margin-top:0;
    margin-bottom:$modalpadding;
    color:rgba(#000, .87);
    line-height:1.66em;
  }

  @media (max-width: 715px) {
    width:100%;
    min-height:85%;
    top:15%;
    bottom:auto;
    left:0;
    @include transform(none);
  }
}

.hubmodal {
  @extend .modal;
  width:80vw;

  h1 {
    margin-bottom:.5em;
  }

  @media (max-width: 715px) {
    width:100%;
    height:85%;
    top:15%;
    bottom:0;
    left:0;
    @include transform(none);

    .hubmodal-lower {
      height:100%;
    }
  }
}

.hubmodal-address {
  color:rgba(#000, .54);
}

.hubmodal-lower {
  background-color:#FFDE17;
  padding:1em;

  ul {
    width:48%;
    display:inline-block;
    vertical-align:top;

    li {
      border-bottom:1px solid rgba(#fff, .33);
      padding:1.2em 0;
    }
  }

  img {
    margin-left:3%;
    width:48%;
    vertical-align:middle;
  }

  dl {
    display:inline-block;
    width:66%;
    vertical-align:middle;
    margin-bottom:0;

    dt {
      font-size:1.2em;
      color:#fff;
    }

    dd {
      margin-top:1em;
      font-size:.83em;
    }
  }
}

@media (max-width: 715px) {
  .hubmodal-lower {
    ul {
      width:100%;
      float:right;
      display:block;
      margin-bottom:1em;

      li {
        border-bottom:1px solid rgba(#fff, .33);
        padding:1.2em 0;
      }
    }

    dl {
      display:inline-block;
      vertical-align:middle;
      margin-bottom:0;

      dt {
        font-size:1.2em;
        color:#fff;
      }

      dd {
        margin-top:1em;
        font-size:.83em;
      }
    }

    img {
      float:left;
      width:100%;
      margin:0;
    }
  }
}

.hubmodal-eventtime {
  vertical-align:middle;
  width:30%;
  display:inline-block;
  position:relative;
  font-size:.83em;
}