$modalpadding:1em;
.modal {
  position:fixed;
  background-color:#fff;
  z-index:10;
  box-shadow:0 0 5px 0 rgba(#000, .3);
  border-radius:3px;
  top:50%;
  left:50%;
  @include transform(translateX(-50%) translateY(-50%));

  .icon-x {
    position:absolute;
    top:1em;
    right:1em;

    &:hover {
      cursor:pointer;
    }
  }
}



.placemodal {
  @extend .modal;
  padding:{
    top:$modalpadding;
    bottom:$modalpadding;
  }
  width:50vw;

  img {
    width:100%;
  }

  h1, p {
    padding:{
      left:$modalpadding;
      right:$modalpadding;
    }
  }

  p {
    font-size:1em;
    color:rgba(#000, .87);
    line-height:1.5em;
  }
}

.hubmodal {
  @extend .modal;
  width:80vw;
}

.hubmodal-lower {
  background-color:#FFDE17;
  padding:1em;

  ul {
    width:48%;

    li {
      border-bottom:1px solid rgba(#fff, .33);
      padding:1.2em 0;
    }
  }

  img {
    margin-left:3%;
    width:48%;
  }

  dl {
    display:inline-block;
    width:66%;
    vertical-align:middle;
    margin-bottom:0;

    dt {
      font-size:1.2em;
      color:#fff;
    }

    dd {
      margin-top:1em;
      font-size:.83em;
    }
  }
}

.hubmodal-eventtime {
  vertical-align:middle;
  width:30%;
  display:inline-block;
  position:relative;
  font-size:.83em;
}